body {
    background: repeat url("lego.jpg");
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    text-align: center;
    font-size: 5em;
}

nav ul li a {
    font-size: 2.2em;
}